<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All pages</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>


<div class="container">

    <!-- Header -->
    <div class="header">
        <div class="logo">
            <img src="/images/logo.jpg" alt="logo">
            <span>TRƯỜNG ĐẠI HỌC NHA TRANG <br> KHOA CÔNG NGHỆ THÔNG TIN</span>
        </div>

        <div class="user">
            Phạm Gia Khiêm
        </div>
    </div>

    <!-- Main -->
    <div class="main">

        <!-- Sidebar -->
        <div class="sidebar">
            <h3>Dashboard</h3>
            <ul>
            	<li> <a th:href="@{/dashboard}">Dashboard</a></li>
                <li>  <a th:href="@{/page/all}">Page-List</a></li>
                <li> <a th:href="@{/page/new}">Page-Addnew</a></li>
                <li> <a th:href="@{/post/all}">Post-List</a></li>
                <li>Post - Addnew</li>
            </ul>
        </div>

        <!-- Content -->
        <div class="content">
           <table style="width: 100%; border-collapse: collapse; ">
			        <thead>
			            <tr style="background-color: #ddd;">
			                <th>ID</th>
			                <th>PageName</th>
			                <th>ParentPageId</th>
			                <th>Thao tác</th>
			            </tr>
			        </thead>
			        <tbody>
			            <tr th:each="p : ${ListPage}">
			                <td th:text="${p.id}"></td>
			                <td th:text="${p.pageName}"></td>
			                <td th:text="${p.parentPageId}">1</td>
			                <td><a th:href="@{/page/detailPage/{id}(id=${p.id})}">view</a> <a href="">edit</a> <a href="">delete</a></td>
			            </tr>
			        </tbody>
    			</table>
        </div>

    </div>

    <!-- Footer -->
    <div class="footer">
        ©2025 by Student Name – FIT.NTU
    </div>

</div>

</body>
</html>