<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>


<div class="container">

    <!-- Header -->
    <div class="header">
        <div class="logo">
            <img src="/images/logo.jpg" alt="logo">
            <span>TRƯỜNG ĐẠI HỌC NHA TRANG <br> KHOA CÔNG NGHỆ THÔNG TIN</span>
        </div>

        <div class="user">
            Phạm Gia Khiêm
        </div>
    </div>

    <!-- Main -->
    <div class="main">

        <!-- Sidebar -->
        <div class="sidebar">
            <h3>Dashboard</h3>
            <ul>
            	<li> <a th:href="@{/dashboard}">Dashboard</a></li>
                <li>  <a th:href="@{/page/all}">Page-List</a></li>
                <li> <a th:href="@{/page/new}">Page-Addnew</a></li>
                <li> <a th:href="@{/post/all}">Post-List</a></li>
                <li>Post - Addnew</li>
            </ul>
        </div>

        <!-- Content -->
        <div class="content">
            <div class="article-container">
        <a th:href="@{/page/all}" class="btn-back">&larr; Quay lại danh sách</a>

        <article>
            <header class="article-header">
                <h1 class="article-title" th:text="${page.pageName}">Tiêu đề trang tin tức</h1>
                
                <div class="article-meta">
                    <span class="meta-item">
                        <span class="meta-label">ID:</span> 
                        <span th:text="${page.id}">P01</span>
                    </span>
                    <span class="meta-item" th:if="${page.keyWord != null and !page.keyWord.isEmpty()}">
                        <span class="meta-label">Từ khóa:</span> 
                        <span th:text="${page.keyWord}">tin tức, công nghệ</span>
                    </span>
                </div>
            </header>

            <div class="article-content" th:text="${page.content}">
                Nội dung chi tiết của trang sẽ được hiển thị ở đây...
            </div>
        </article>
    </div>
        </div>

    </div>

    <!-- Footer -->
    <div class="footer">
        ©2025 by Student Name – FIT.NTU
    </div>

</div>

</body>
</html>